body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  background: #0a0a0f;
  color: #fff;
}

header {
  padding: 20px;
  border-bottom: 1px solid #222;
  text-align: center;
}

h1 {
  font-family: "Syne", sans-serif;
  font-size: 35px;
}

h1 span {
  color: #c8f73e;
}

input {
  margin-top: 10px;
  padding: 10px;
  width: 90%;
  max-width: 400px;
  border-radius: 8px;
  border: none;
  background: #181820;
  color: #fff;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.tabs {
  display: flex;
  gap: 8px;
}

.tab {
  padding: 7px 16px;
  border: 1px solid #333;
  border-radius: 8px;
  background: transparent;
  color: #888;
  font-size: 14px;
  cursor: pointer;
}

.tab span {
  background: #222;
  padding: 2px 6px;
  border-radius: 10px;
  font-size: 12px;
  margin-left: 4px;
  color: #fff;
}

.tab.active,
.tab:hover {
  background: #c8f73e;
  border-color: #c8f73e;
  color: #000;
}

#sortSelect {
  padding: 7px 12px;
  border-radius: 8px;
  border: 1px solid #333;
  background: #181820;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
}

#genreBar {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 20px;
}

#genreBar button {
  padding: 5px 12px;
  border-radius: 20px;
  border: 1px solid #333;
  background: transparent;
  color: #888;
  font-size: 13px;
  cursor: pointer;
}

#genreBar button:hover,
#genreBar button.active {
  background: #c8f73e;
  border-color: #c8f73e;
  color: #000;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  color: #888;
  font-size: 14px;
}

th {
  padding: 10px;
  border-bottom: 1px solid #222;
}

td {
  padding: 12px 10px;
}

tr:hover {
  background: #181820;
}

.song-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.song-info img {
  width: 45px;
  height: 45px;
  border-radius: 6px;
  object-fit: cover;
}

.title {
  font-size: 14px;
}

.artist {
  font-size: 12px;
  color: #888;
}

.genre-tag {
  padding: 3px 10px;
  border-radius: 20px;
  background: #1e1e2a;
  font-size: 12px;
  color: #888;
}

.like-btn {
  background: none;
  border: none;
  color: #555;
  font-size: 18px;
  cursor: pointer;
}

.like-btn:hover {
  color: #e05;
  transform: scale(1.2);
}

th:nth-child(4),
td:nth-child(4) {
  text-align: center;
}

td:nth-child(5) {
  color: #888;
  font-size: 13px;
}

td:nth-child(6) {
  text-align: right;
}

th:nth-child(6) {
  text-align: center;
}

audio {
  width: 145px;
  height: 28px;
  opacity: 0.9;
  border-radius: 20px;
}

#loader {
  text-align: center;
  margin-bottom: 15px;
}

.hidden {
  display: none;
}